/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@font-face {
	font-family: 'TT Lakes';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/TTLakes-Regular.woff2') format('woff2'),
		url('../fonts/TTLakes-Regular.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'TT Lakes';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/TTLakes-Medium.woff2') format('woff2'),
		url('../fonts/TTLakes-Medium.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'TT Lakes';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/TTLakes-Bold.woff2') format('woff2'),
		url('../fonts/TTLakes-Bold.woff') format('woff');
	font-display: swap;
}

/* media */

/* body */

body {
	font-family: 'TT Lakes', sans-serif;
	background: #f8f8f8;
	color: #1b1c21;
	font-size: 16px;
}

.upper-menu {
	display: flex;
	align-items: center;
	padding: 24px 16px;
	width: auto;
	/* height: 88px; */
	align-items: center;
	background: #fff;
	justify-content: space-between;
	gap: 16px;
}
.button {
	display: flex;
	align-items: center;
	gap: 9px;
}
/* hide mobile menu  */

@media (max-width: 768px) {
	.mobile-hidden {
		display: none;
	}
	.repair-button {
		margin-left: auto;
	}
}

@media (max-width: 1119px) {
	.vertikal-devider::before {
		content: '';
		display: block;
		height: 32px;
		width: 2px;
		margin: 0 2px;
		background: #eaeaea;
		border-radius: 1px;
	}
}

@media (min-width: 769px) {
	.call-button {
		margin-left: auto;
	}
}

@media (max-width: 1119px) {
	.tab-hidden {
		display: none;
	}
	.main {
		border-top: #d9fff5 2px solid;
	}
}
@media (min-width: 1120px) {
	.desktop-float {
		float: right;
		background: #f8f8f8;
	}
}

.vertikal-devider {
	display: flex;
	align-items: center;
	gap: 16px;
}

@media (min-width: 1120px) {
	.desktop-hidden {
		display: none;
	}
}

/* верт. полоса слева от заголовка */
.title::before {
	content: '';
	position: absolute;
	left: -4px;
	display: block;
	height: 40px;
	width: 8px;
	border-radius: 20px;
	background-color: #41f6d7;
}

.slide-menu__list::after {
	content: '';
	position: absolute;
	display: block;
	width: 24px;
	height: 40px;
	background: linear-gradient(
		270deg,
		#f8f8f8 16.84%,
		rgba(248, 248, 248, 0) 100%
	);
	top: 0;
	right: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
}

.main {
	width: auto;
	height: auto;
}
.title {
	width: auto;
	padding: 24px 16px;
	color: #1b1c21;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	/* line-height: 40px; */
	letter-spacing: -0.6px;
	padding-left: 16px;
}
.slide-menu {
	padding-left: 16px;
}
.slide-menu__list {
	display: flex;
	justify-content: space-between;
	overflow: scroll;
	width: 100%;
	position: relative;
	width: auto;
}

.first-block__content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background: #f8f8f8;
	padding-top: 16px;
	padding-left: 16px;
}
.first-block__text {
	width: auto;
	/* height: 105px; */
	overflow: hidden;
}

@media (min-width: 768px) {
	.first-block__text {
		width: auto;
		height: auto;
		overflow: hidden;
	}
}

/* .first-block__text-block {
	width: 100%;
} */

.text__p {
	padding-bottom: 5px;
}
.first-block__img-box {
	width: 100%;
	/* height: 100%; */
	padding-top: 10px;
}

.first-block__expand {
	display: flex;
	align-items: center;
	padding: 5px 0;
	font-weight: 500;
}

.first-block__expand::before {
	content: '';
	display: block;
	background-image: url('../content/expand.svg');
	width: 24px;
	height: 24px;
}

.slide-menu__item {
	padding: 0;
}

.slide-menu__item-btn {
	padding: 8px 0;
	width: 246px;
	/* height: 40px; */
}

.slide-menu__item-act {
	border-radius: 6px;
	border: 2px solid #b8ffec;
}

/* паддинг контента при смене */

@media (min-width: 1120px) {
	.title {
		padding-left: 32px;
	}
	.slide-menu {
		padding-left: 32px;
	}
}
@media (min-width: 768px) {
	.title {
		padding-left: 24px;
	}
	.slide-menu {
		padding-left: 24px;
	}
	.first-block__content {
		display: flex;
		flex-wrap: nowrap;
		align-items: start;
		justify-content: space-between;
		gap: 48px;
		padding-left: 24px;
	}
	.first-block__img-box {
		padding: 0;
		/* height: 100%; */
		width: 100%;
		border-radius: 6px;
	}
}
