/* Reset and base styles  */

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@font-face {
	font-family: 'TT Lakes';
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/TTLakes-Regular.woff2') format('woff2'),
		url('../fonts/TTLakes-Regular.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'TT Lakes';
	font-weight: 500;
	font-style: normal;
	src: url('../fonts/TTLakes-Medium.woff2') format('woff2'),
		url('../fonts/TTLakes-Medium.woff') format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'TT Lakes';
	font-weight: 700;
	font-style: normal;
	src: url('../fonts/TTLakes-Bold.woff2') format('woff2'),
		url('../fonts/TTLakes-Bold.woff') format('woff');
	font-display: swap;
}
body {
	font-family: 'TT Lakes', sans-serif;
	background: #f8f8f8;
	color: #1b1c21;
	font-size: 16px;
}

.swiper-slide {
	height: 100%;
	max-width: 200px;
}
.swiper-wrapper {
	text-align: center;
	display: grid;
	align-items: center;
	padding: 16px 16px;
	gap: 16px;
	grid-template-columns: repeat(4, 1fr);
}

.hidden {
	display: none !important;
}


@media only screen and (max-width: 449px) {
	.swiper-wrapper {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 16px 24px;
		width: 100% !important;
	}
}
@media only screen and (min-width: 450px) {
	.swiper-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px 32px;
		width: 100% !important;
	}
}
@media only screen and (min-width: 768px) {
	.swiper-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 16px 32px;
		width: 100% !important;
	}
}
@media only screen and (min-width: 1120px) {
	.swiper-wrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 16px 32px;
		width: 100% !important;
	}
}

.brands__title {
	padding: 16px 16px;
	background: linear-gradient(90deg, #f8f8f8 1.39%, #fff 100%);
	border-top: #d9fff5 2px solid;
	color: rgb(126, 126, 130);
	font-family: TT Lakes;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.2px;
	text-align: left;
	text-transform: uppercase;
}
.swiper__btn {
	padding: 0 16px;
	height: 72px;
	border-radius: 6px;
	border: 1px solid #eaeaea;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	transition: all 0.3s;
	width: auto;
}
.swiper__btn:hover {
	background: #f8f8f8;
}

.swiper__img {
	max-width: 128px;
	max-height: 50px;
}

.swiper__btn::after {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	background: url('../logo/ic_go.svg');
	background-repeat: no-repeat;
}

.swiper-pagination {
	position: relative;
	gap: 20px;
}
/* .swiper__btn:hover img {
    transform: scale(1.1);
} */

/* @media (min-width: 768px) {
	.swiper-wrapper,
	.swiper {
		text-align: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 16px 16px;
		flex-wrap: wrap;
		overflow: auto;
		gap: 16px;
	}
	.swiper-slide {
		width: auto;
	}
} */
